$mainFont: "Montserrat", sans-serif

$scrollbarSize: 14px

$topBarHeight: 5vmin
$topBarColor: #AABBCC

$backgroundColor: #111111
$verticalMenuColor: #423242
$cdb: rgba(255, 255, 255, 0)

$widescreen: "screen and (min-aspect-ratio: 7/3)"
$widescreenTrigger: 7/3
$widescreenHeight: 3vw

$smallscreen: "screen and (max-width: 720px)"
$smallscreenTrigger: 720px
$smallscreenHeight: 38px

$screenFitTime: 0.2s
$menuButtonScale: 1.3