$mainFont: "Montserrat", sans-serif

$scrollbarSize: 14px

$topBarHeight: 8vh
$widescreenHeight: 3.5vw
$smallscreenHeight: 48px

$backgroundColor: #383848
$topBarColor: #222233
$cdb: rgba(255, 155, 155, 0.25)

$widescreen: "screen and (min-aspect-ratio: 7/3) and (min-height: 640px)"
$widescreenTrigger: 7/3

$smallscreen: "screen and (max-width: 720px), screen and (max-height: 480px)"
$smallscreenTrigger: 720px

$transitionTime: 0.25s
$screenFitTime: 0.2s

$mobileFit: "screen and (orientation: portrait)," + $smallscreen
$noMobileFit: "screen and (orientation: landscape) and (min-width: 720px) and (min-height: 480px)"